
## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
# Values here are for a voron 2.4 with CanBus and a BTT Octopus

# Carrot Feeder 5mm D-cut shaft
# gear_stepper is MOTOR7
[tmc2209 manual_stepper gear_stepper]
uart_pin: PD3
interpolate: True
run_current: 0.5
hold_current: 0.15
sense_resistor: 0.110
stealthchop_threshold: 0		# 999999 to enable stealthChop

[manual_stepper gear_stepper]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
#rotation_distance: 22.554216869    #Bondtech 5mm Drive Gears
rotation_distance: 22.551961       #Bondtech 5mm Drive Gears
gear_ratio: 80:20
microsteps: 16                     # Please do not go higher than 16, this can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200       #200 for 1.8 degree, 400 for 0.9 degree
velocity: 35
accel: 150

# Carrot Feeder selector
# selector_stepper is MOTOR6
[tmc2209 manual_stepper selector_stepper]
uart_pin: PE1
run_current: 0.40
hold_current: 0.15
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0		# 999999 to enable stealthChop
#
# Uncomment the lines below if you want to use sensorless selector homing
# (and configure ercf_parameters.cfg correctly)
# or comment out if using physical endstop switch (default)
#diag_pin: ^ercf:PA7			# Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 75			# 255 is most sensitive value, 0 is least sensitive

[manual_stepper selector_stepper]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4        
rotation_distance: 40
microsteps: 16                  # Please do not go higher than 16, this can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200    # 200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
endstop_pin: ^PG14 # DIAG6

# servo is via TFT connector
[ercf_servo ercf_servo]
pin: PA9
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215

# filament sensor on Probe Servo on CanBus
[filament_switch_sensor toolhead_sensor]
pause_on_runout: False
switch_pin: ^sht36v2:PC15

## ENCODER -----------------------------------------------------------------------------------------------------------------
## The encoder_resolution is determined by running the ERCF_CALIBRATE_ENCODER. Be sure to read the manual
[ercf_encoder ercf_encoder]
encoder_pin: ^PG15            # encoder is via DIAG7
encoder_resolution: 1.333156  # Set AFTER 'rotation_distance' is tuned for gear stepper (see manual)
extruder: extruder            # The extruder to track with for runout/clog detection

# These are advanced but settings for Automatic clog/runout detection mode. Make sure you understand or ask questions on Discord
desired_headroom: 5.0         # The runout headroom that ERCF will attempt to maintain (closest ERCF comes to triggering runout)
average_samples: 4            # The "damping" effect of last measurement. Higher value means clog_length will be reduced more slowly

