[include config.d/*.cfg]
[include macros.d/*.cfg]
[include raspberry_pi_mcu.cfg]
[include fly_sht36_v3.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0B0027000A50534E4E313020-if00
#restart_method: command
#serial: /dev/serial0
#restart_method: command
canbus_uuid: bac2e369d891

##--------------------------------------------------------------------

# Speed testing
# SET_VELOCITY_LIMIT VELOCITY=700 ACCEL=10000 ACCEL_TO_DEVEL=10000
# SPEEDTEST
[printer]
kinematics:             corexy
max_velocity:           500
max_accel:              7000    # Max 4000
#minimum_cruise_ratio:   0.5
max_z_velocity:         25      # Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel:            350
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 67.6
shaper_type_x: mzv
shaper_freq_y: 48
shaper_type_y: zv

[idle_timeout]
timeout: 2700
gcode:
    M84               ; Motors off
    TURN_OFF_HEATERS
    LIGHTS_OFF

#####################################################################
#   X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin:                PF13
dir_pin:                 !PF12
enable_pin:              !PF14
rotation_distance:       40
microsteps:              32
full_steps_per_rotation: 200
endstop_pin:             tmc2209_stepper_x: virtual_endstop
position_min:            0
position_endstop:        250
position_max:            250
homing_speed:            20      # Half rotation distance for sensorless homing
#homing_speed:            50 
homing_retract_dist:     0       # 0 for sensorless homing
homing_positive_dir:     true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin:       PC4
interpolate:    False
run_current:    1.1
sense_resistor: 0.110
diag_pin:       ^PG6
driver_SGTHRS:  55

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin:                PG0
dir_pin:                 !PG1
enable_pin:              !PF15
rotation_distance:       40
microsteps:              32
full_steps_per_rotation: 200
endstop_pin:             tmc2209_stepper_y:virtual_endstop
position_min:            0
position_endstop:        250     # Reduced by 5mm due to TAP
position_max:            250
#homing_speed:            20      # Half rotation distance for sensorless homing
homing_speed:            50 
homing_retract_dist:     0       # 0 for sensorless homing
homing_positive_dir:     true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin:       PD11
interpolate:    False
run_current:    1.1
sense_resistor: 0.110
diag_pin:       ^PG9
driver_SGTHRS:  65

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin:            PF11
dir_pin:             PG3
enable_pin:          !PG5
rotation_distance:   40
gear_ratio:          80:16
microsteps:          32
endstop_pin:         probe:z_virtual_endstop
position_max:        210
position_min:        -4
homing_speed:        10
second_homing_speed: 3
homing_retract_dist: 2

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin:              PC6
interpolate:           false
run_current:           0.8
sense_resistor:        0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin:          PG4
dir_pin:           !PC1
enable_pin:        !PA0
rotation_distance: 40
gear_ratio:        80:16
microsteps:        32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin:              PC7
interpolate:           false
run_current:           0.8
sense_resistor:        0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin:          PF9
dir_pin:           PF10
enable_pin:        !PG2
rotation_distance: 40
gear_ratio:        80:16
microsteps:        32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin:              PF2
interpolate:           false
run_current:           0.8
sense_resistor:        0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin:          PC13
dir_pin:           !PF0
enable_pin:        !PF1
rotation_distance: 40
gear_ratio:        80:16
microsteps:        32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin:              PE4
interpolate:           false
run_current:           0.8
sense_resistor:        0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin:                     sht36v3:gpio7
dir_pin:                      !sht36v3:gpio6
enable_pin:                   !sht36v3:gpio14
rotation_distance:            22.452161589
gear_ratio:                   50:10  # Clockwork 2 or Sherpa Mini
microsteps:                   32
full_steps_per_rotation:      200    # 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter:              0.400
filament_diameter:            1.75
heater_pin:                   sht36v3:gpio23
sensor_type:                  PT1000
sensor_pin:                   sht36v3:gpio27
min_temp:                     1
max_temp:                     290
max_power:                    1.0
min_extrude_temp:             5
pressure_advance_smooth_time: 0.04
pressure_advance:             0.025
max_extrude_only_distance:    250
max_extrude_cross_section:    50.0

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin:       sht36v3:gpio15
interpolate:    false
run_current:    0.5
sense_resistor: 0.110

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin:  PA1
sensor_type: Generic 3950
sensor_pin:  PF3
max_power:   0.6
min_temp:    1
max_temp:    120

[verify_heater heater_bed]
check_gain_time: 120
heating_gain:    1

#####################################################################
#   Fan Control
#####################################################################

[fan]
pin:             sht36v3:gpio13
kick_start_time: 0.5
off_below:       0.10

[heater_fan hotend_fan]
pin:             sht36v3:gpio21
max_power:       1.0
fan_speed:       1.0
kick_start_time: 0.5
heater:          extruder
heater_temp:     45.0

[heater_fan controller_fan]
pin:             PD12
fan_speed:       0.4
kick_start_time: 0.5
heater:          heater_bed
heater_temp:     48.0

[heater_fan _controller_fan2]
pin:             PD13
fan_speed:       0.4
kick_start_time: 0.5
heater:          heater_bed
heater_temp:     48.0

[heater_fan nevermore_fan]
pin:             PD14
max_power:       1.0
shutdown_speed:  0.0
kick_start_time: 0.5
heater:          heater_bed
heater_temp:     60.0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

[display]
#   mini12864 LCD Display
lcd_type:              uc1701
cs_pin:                EXP1_3
a0_pin:                EXP1_4
rst_pin:               EXP1_5
encoder_pins:          ^EXP2_5, ^EXP2_3
click_pin:             ^!EXP1_2
contrast:              63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
pin:           EXP1_6
chain_count:   3
initial_RED:   0.1
initial_GREEN: 0.2
initial_BLUE:  0.5
color_order:   RGB

##  Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#####################################################################
#   Probe
#####################################################################

[probe]
pin:                       ^sht36v3:gpio22
x_offset:                  0
y_offset:                  0
speed:                     8
lift_speed:                60
samples:                   1
samples_result:            median
#samples_discard_first:     1
sample_retract_dist:       2
samples_tolerance:         0.01
samples_tolerance_retries: 3
activate_gcode: 
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

# https://github.com/voidtrance/voron-klipper-extensions
# [settling_probe]
# settling_sample: True

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

# Using Voron TAP
[safe_z_home]
home_xy_position: 125, 125
z_hop:            5
speed:            450

##  Use QUAD_GANTRY_LEVEL to level a gantry.
[quad_gantry_level]
gantry_corners: 
    -60,-10
    310, 320
points:
    50,50
    50,200
    200,200
    200,50
speed:             450
horizontal_move_z: 5
retries:           5
retry_tolerance:   0.0075
max_adjust:        10

#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
speed:                    450
horizontal_move_z:        5
mesh_min:                 10,  10
mesh_max:                 240, 240
fade_start:               0.6
fade_end:                 10.0
probe_count:              7,   7
algorithm:                bicubic
zero_reference_position:  124.99, 124.99

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.943
#*# pid_ki = 2.124
#*# pid_kd = 61.946
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.120
#*# pid_ki = 1.550
#*# pid_kd = 234.439
#*#
#*# [probe]
#*# z_offset = -0.650
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.171250, 0.141250, 0.088750, 0.082500, 0.122500, 0.131250, 0.158750
#*# 	0.140000, 0.086250, 0.046250, 0.045000, 0.086250, 0.102500, 0.158750
#*# 	0.092500, 0.061250, 0.020000, 0.015000, 0.045000, 0.080000, 0.136250
#*# 	0.085000, 0.050000, -0.002500, 0.000000, 0.037500, 0.077500, 0.153750
#*# 	0.101250, 0.086250, 0.031250, 0.016250, 0.062500, 0.087500, 0.172500
#*# 	0.127500, 0.085000, 0.052500, 0.055000, 0.050000, 0.108750, 0.163750
#*# 	0.167500, 0.130000, 0.085000, 0.062500, 0.108750, 0.122500, 0.222500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 7
#*# max_y = 239.98
#*# mesh_x_pps = 2
#*# max_x = 239.98
