
#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 1
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1
