
#####################################################################
#   X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin:               PF13
dir_pin:               !PF12
enable_pin:            !PF14
rotation_distance:        40
microsteps:               32
full_steps_per_rotation: 200
endstop_pin:  tmc2209_stepper_x:virtual_endstop
position_min:              0

position_endstop:        250
position_max:            250

homing_speed:             40       # Max 100 (was 50) half rotation distance for sensorless homing
homing_retract_dist:       0       # Was 5
homing_positive_dir:    true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin:         PC4
interpolate:    False
run_current:      1.1
sense_resistor: 0.110
diag_pin:        ^PG6
driver_SGTHRS:     63

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin:                PG0
dir_pin:                !PG1
enable_pin:            !PF15
rotation_distance:        40
microsteps:               32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min:              0

position_endstop:        255
position_max:            255

homing_speed:             40       # Max 100 (was 50) half rotation distance for sensorless homing
homing_retract_dist:       0       # Was 5
homing_positive_dir:    true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin:        PD11
interpolate:    False
run_current:      1.1
sense_resistor: 0.110
diag_pin:        ^PG9
driver_SGTHRS:     65
