
####################################################################
#          Display LCD and WLED Controls
####################################################################

# Set LCD RGB at startup
[delayed_gcode RESETRGB_ONSTARTUP]
initial_duration: 5
gcode:
    RESETRGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob (not correct for my voronpi 2.4)
##  Index 3 = display, Index 1 and 2 = Knob

[gcode_macro RESETRGB]
description: Default RGB
gcode:
    SET_LED LED=btt_mini12864 RED=1 GREEN=0.45 BLUE=0.4 INDEX=1 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED=0.25 GREEN=0.2 BLUE=0.15 INDEX=2 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED=0.25 GREEN=0.2 BLUE=0.15 INDEX=3
    WLED_ON STRIP=case

[gcode_macro LCDRGB]
description: Example LCDRGB R=1 G=0 B=0
gcode:
    {% set R = params.R|default(1)|float %}
    {% set G = params.G|default(1)|float %}
    {% set B = params.B|default(1)|float %}

    SET_LED LED=btt_mini12864 RED={R} GREEN={G} BLUE={B} INDEX=1 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED={R} GREEN={G} BLUE={B} INDEX=2 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED={R} GREEN={G} BLUE={B} INDEX=3 TRANSMIT=1

[gcode_macro CASE]
description: Example CASE R=1 G=0 B=0 or CASE PS=4
gcode:
    {% set R = params.R|default(1)|float %}
    {% set G = params.G|default(1)|float %}
    {% set B = params.B|default(1)|float %}
    {% set PS = params.PS|default(-1)|int %}

    {% if PS >= 0 %}
        WLED_ON STRIP=case PRESET={PS}
    {% else %}
        SET_WLED STRIP=case RED={R} GREEN={G} BLUE={B} TRANSMIT=1
    {% endif %}

[gcode_macro LIGHTS_OFF]
description: Case and LCD lights off
gcode:
    WLED_OFF STRIP=case
    LCDRGB R=0 G=0 B=0

[gcode_macro CASE_RANDOM]
gcode:
    {% for led in range(76|int) %}
        SET_WLED STRIP=case RED={(range(0,100) | random) / 100} GREEN={(range(0,100) | random) / 100} BLUE={(range(0,100) | random) / 100} INDEX={led+1} TRANSMIT=1
        G4 P15
    {% endfor %}

# [gcode_macro CASE_CHILL]
# description: Just relax
# gcode:
#     wled_control STRIP=case BRI=128 EFFECT=lake SX=152 IX=152 PALETTE=ocean
