###############################################################################
#         Pause resume macros
###############################################################################
# Adapted from https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/b7a911208469c280ccf9756ae0faccf3c9c91f7d/macros.cfg#L177

[gcode_macro M601]
description: Pause by another name
gcode:
    PAUSE

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                     ; z hop amount
    {% set temp_offset = params.TEMP_OFFSET|default(500)|int %}                                ; temp reduction

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                                ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}      ; set hotend temp variable for reference in resume macro

        SAVE_GCODE_STATE NAME=PAUSE                                                            ; save current print position for resume
        BASE_PAUSE                                                                             ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}         ; check that zhop doesn't exceed z max
            G91                                                                                ; relative positioning
            G1 Z{z} F900                                                                       ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                    ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                    ; absolute positioning
        SAVE_GCODE_STATE NAME=PAUSEHOPPED                                                      ; save print position hopped above original location for resume
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F12000    ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                        ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        {% if printer['extruder'].target - temp_offset < 0 or temp_offset < 0 %}
          M104 S0                                                                              ; turn hotend off
        {% else %}
          M104 S{printer['extruder'].target - temp_offset}                                     ; set hotend temp - temp_offset
        {% endif %}
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                         ; set timeout to 12 hours
        M117 Paused
    {% endif %}

# Return Z hop back down 10mm, prime nozzle (default 0), resume print
[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(0)|int %}                                                          ; nozzle prime amount

    {% if printer['pause_resume'].is_paused|int == 1 %}

        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}                ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                                      ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=200                                   ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        RESTORE_GCODE_STATE NAME=PAUSEHOPPED MOVE=1 MOVE_SPEED=200                                 ; go back to pause position but hopped before dropping down
        G91                                                                                        ; relative positioning
        M83                                                                                        ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                              ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                                   ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=200                                       ; restore position
        M117 Printing

        BASE_RESUME
    {% endif %}
