
##################################################################################
#      https://docs.vorondesign.com/community/howto/clee/sensorless_xy_homing.html
##################################################################################

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.5 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    #SET_TMC_FIELD STEPPER=stepper_x FIELD=tcoolthrs VALUE=1048575
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=tcoolthrs VALUE=1048575
    
    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200

    # Wait to give StallGuard registers time to clear
    G4 P1500

    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    #SET_TMC_FIELD STEPPER=stepper_x FIELD=tcoolthrs VALUE=4000
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=tcoolthrs VALUE=4000
    
[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.5 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    #SET_TMC_FIELD STEPPER=stepper_x FIELD=tcoolthrs VALUE=1048575
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=tcoolthrs VALUE=1048575
    
    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait to give StallGuard registers time to clear
    G4 P1500

    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    #SET_TMC_FIELD STEPPER=stepper_x FIELD=tcoolthrs VALUE=4000
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=tcoolthrs VALUE=4000