
####################################################################
#          Low level WLED macros via moonraker
#
# https://moonraker.readthedocs.io/en/latest/configuration/#wled
# https://kno.wled.ge/
#
# Update the 'lights' to 'mycoollightstrip' if in your
# moonraker.conf you have e.g. [wled mycoollightstrip]
#
# You can of course not have a default if you have multiple strips
#
# One other cool feature of wled is that it can support multiple
# led strips off one controller on different GPIO ports. However
# they would all appear as one single 'strip' to us here.
# e.g My case lights are RGB from 0-76 and SB is RGBW from 77-79 
####################################################################

[gcode_macro WLED_ON]
description: Turn WLED strip on using optional preset
gcode:
  {% set strip = params.STRIP|default('lights')|string %}
  {% set preset = params.PRESET|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}

[gcode_macro WLED_OFF]
description: Turn WLED strip off
gcode:
  {% set strip = params.STRIP|default('lights')|string %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=False)}

[gcode_macro SET_WLED]
description: SET_LED like functionlity for WLED
gcode:
    {% set strip = params.STRIP|default('lights')|string %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set index = params.INDEX|default(-1)|int %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    {action_call_remote_method("set_wled",
                               strip=strip,
                               red=red, green=green, blue=blue, white=white,
                               index=index, transmit=transmit)}
